.Post
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.Post>img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.postReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.postDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.postDetails span {
    font-size: 14px;
    color: var(--gray);
}

.postDetails b {
    font-size: 16px;
    color: black;
}

.postUser {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.postUser img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.postUserName {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.postUserHandle {
    font-size: 14px;
    color: var(--gray);
}

